/* Color Variables */

/* Primary color used for important elements such as buttons, highlights, and key accents. */
$color-primary: #A238FF; // A vibrant purple color

/* Secondary color used for background or secondary elements, providing contrast against the primary color. */
$color-secondary: #222323; // A very dark gray, almost black

/* Text color used for general text to ensure readability and contrast against the background. */
$text-color: #C3C3C3; // A light gray color for text
